#python=3.9.0

conda install -c anaconda tensorflow-gpu==2.4.1
matplotlib==3.4.3
opencv-python==4.5.1.48
argparse==1.1
#numpy==1.21.3
json==2.0.9
pandas==1.4.1
scipy==1.6.2
SimpleITK==2.1.1


to make opcncv works properly inside the docker:
apt-get update
apt-get install ffmpeg libsm6 libxext6  -y




